a {
    box-shadow: none !important;
    color:  rgb(247, 119, 15);
}

a:hover{
    text-decoration: none;
    color:  rgb(241, 151, 77);
}

h1, h2, h3, h4 {
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

h1 {
    font-weight: 400
}

h2 {
    font-weight: 100;
}

h3 {
    font-weight: 200;
}

.white{
    color: white;
}

.grey{
    color: grey;
}

.particles{
    background-image: linear-gradient( 150.7deg,  rgba(0,32,95,1) 1.8%, rgba(132,53,142,1) 99.8% );
    position: absolute;
    height: 100%;
    width: 100%;
}

.particles-blog{
    background-image: linear-gradient( 150.7deg,  rgba(0,32,95,1) 1.8%, rgba(132,53,142,1) 99.8% );
    position: inherit;
    height: 400px;
    width: 100%;
}

.absolute {
    position: relative;
    top: 200px;
    right: 0;
    left: 10%;
    width: 50%;
    color: white;
  }

.absolute-blog{
    position: absolute;
    top: 200px;
    right: 0;
    left: 0%;
    width: 100%;
    color: white;
    text-align: center;
}

  .sticky-bottom{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: grey;
    text-align: center;
  }

  .dark{
      color: #413C58;
  }

  .orange{
      color: rgb(247, 119, 15);
  }

  .absolute>.title{
      font-size: 3rem;
      font-weight: 600;
  }

  .absolute-blog>.title{
    font-size: 3rem;
    font-weight: 600;
    color: white;
  }

  .absolute>.paragraph{
      font-size: 2rem;
  }

  .absolute>.icons{
      font-size: 2rem;
  }

  .absolute>.icons>a:hover{
    color:  white;
}

    .icons>a{
        color: lightgray;
    }

/* blog */

.main-title{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 100px;
    padding-bottom: 50px;
}

.page-title{
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 50px;
    
}

.blog-date{
    text-align: left;
}

.blog-title{
    text-align:left;
}

 

  @media (max-width: 600px) {
    .particles{
        height: 100%;
        position: absolute;
    }

    .title-blog{
        text-align: left;
    }

    .absolute{
        position: relative;
        width: 100%;
        right: 0;
        left: 0;
        top: 100px;
        padding-top: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .particles-blog{
        background-color: #413C58;
        position: inherit;
        height: 400px;
        width: 100%;
    }

    .absolute-blog{
        top: 150px;
    }

    .sticky-bottom{
     
       position: absolute;
       padding: 10px;
       padding-right: 30px;
    padding-left: 30px;
       
      }

      .absolute>.title{
        font-size: 2.5rem;
        font-weight: 600;
    }
  
    .absolute>.paragraph{
        font-size: 1.5rem;
    }
  
    .absolute>.icons{
        font-size: 1.5rem;
    }

    .page-title{
        padding-top: 30px;
        padding-bottom: 20px;
    }

    
  }